.navigation_bar {
  display:flex;
  flex:1;
  justify-content: center;
  position:sticky;
  .navigation_item {
    display: flex;
    flex:1;
    width:20%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    color:#212121;
    &:nth-child(2n){
      border-left: 1px solid #212121;
      border-right: 1px solid #212121;
    }
  }
}
