.input_wrap {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 5px;

  .input_label {
    display: flex;
    flex: 1;
  }
  .input {
    display: flex;
    width:200px;
    align-items: center;
    flex-grow: 1;
    height: 20px;
    &:focus {
      outline: none;
    }
  }
}
