.home_page_container{
  display:flex;
  justify-content: flex-start;
  flex:1;
  flex-direction: column;
  .home_page_title{
    color:#2DC770;
    height:60px;
    background-image: url("/mido.png");
    background-repeat: no-repeat;
    background-size:auto 60px;
  }
}