.group_search{
  height:100px;
  border:1px solid #eee;
  .user_list{
    display:flex;

  }
}

.store_search{
  height:100px;
  border:1px solid #eee;
}

.misigdo_form_box{
  margin: 8px 0;
  border:1px solid #eee;
}