$background-color: #212121;
$text-color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size:14px;
  font-family: 'Newsreader', sans-serif;
}

h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1.17em;}
html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: $text-color;
  background: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,li,ol{
  list-style: none;;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}