.group_list{
  .group_list_item{
    display:flex;
    flex-direction: column;
    background-color:rgba(255,255,255,0.2);
    
    margin: 8px 0;
    padding: 8px;
    .top_area{
      display:flex;
      justify-content: space-between;
      margin-bottom:12px;
      .group_title{
        display:flex;
        align-items: center;
        .pioneer_cnt {
          display:flex;
          justify-content: center;
          align-items: center;
          font-size:0.8em;
          margin-left:8px;
          span{margin-top:4px;}
        }
      }

      .button_wrap{
        button{
          background:none;
          outline:none;
          border:none;
          cursor: pointer;
        }
      }
    }

    .user_list{
      display:flex;
      .user_info{
        display:flex;
        max-width:100px;
        flex-direction: column;
        align-items: center;
        margin:0 8px; 
        &:first-child{
          margin-left:0;
        }
        .user_name{
          display:flex;
          flex:1;
          margin-top:8px;
        }
      }      
    }
  }
}
